USE [master]
GO
/****** Object:  Database [OfficeGame]    Script Date: 06/10/2019 0:49:41 ******/
CREATE DATABASE [OfficeGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OfficeGame', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OfficeGame.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OfficeGame_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OfficeGame_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OfficeGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OfficeGame]
GO
/****** Object:  Table [dbo].[Partidas]    Script Date: 06/10/2019 0:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[IdPartida] [int] IDENTITY(1,1) NOT NULL,
	[IdUsu] [int] NOT NULL,
	[Lvl] [int] NOT NULL,
	[Trabajadores] [int] NOT NULL,
	[Presupuesto] [money] NOT NULL,
	[Felicidad] [int] NOT NULL,
	[LvlOficina1] [int] NOT NULL,
	[LvlOficina2] [int] NOT NULL,
	[LvlOficina3] [int] NOT NULL,
	[LvlOficina4] [int] NOT NULL,
 CONSTRAINT [PK_Partidas] PRIMARY KEY CLUSTERED 
(
	[IdPartida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 06/10/2019 0:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsu] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NOT NULL,
	[Pregunta] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Ciudad] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
